<h1>Welcome to our barbershop!</h1>
<p>You can plan your visit below:</p>

<form action="/" method ="POST">
  Your name: <br>
  <input type="text" name="name"/><br>
  Your phone: <br>
  <input type="text" name="phone"/><br>
  Date: <br>
  <input type="date" name="date"/><br>
  <input type="submit" name="submit"/>
</form>

<form action="/admin" method="POST">
      Admin login: <br>
  <%=@error %> <br>
      <input type="text" name="admin"/>
      <input type="password" name="password"/>
      <input type="submit"/>
</form>