<h1>Hello</h1>

<p> Your login: <%= @login %> </p>
<p> Your password: <%= @password %> </p>


<form action="/" method="POST">
  <input type="text" name="login"/>
  <input type="password" name="password"/>
  <input type="submit"/>
</form>
